[Desktop Entry]
Version=1.1
Type=Application
Name=Install Cupcakes OS
GenericName=Cupcakes OS Installer
Comment=Install Cupcakes OS from the live desktop
Icon=drive-harddisk
Exec=cupcakes-os-setup
Terminal=false
Categories=System;
Keywords=setup;install;configure;reconfigure;desktop;apps;locale;cupcakes-os;nixos;anix;
StartupNotify=true
